.container {
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  font-family: 'Tilt Neon', cursive;

  @media (max-width: 900px) {
    width: 400px;
  }

  @media (max-width: 600px) {
    width: 270px;
  }
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}