.container {
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  font-family: 'Tilt Neon', cursive;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}