.list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center; 
  gap: 27px;

  @media (max-width: 900px) {
    grid-template-columns: auto auto;
    gap: 15px;
  }

  @media (max-width: 600px) {
    grid-template-columns: auto;
    gap: 10px;
  }
}

.load-button-wrap {
  margin: 30px 0 30px 0;
}